<?xml version="1.0" encoding="UTF-8"?>
<bot xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="config.xsd">
	<memory>
		<implementation-class>org.botlibre.knowledge.micro.MicroMemory</implementation-class>
	</memory>
	<mind>
		<implementation-class>org.botlibre.thought.BasicMind</implementation-class>
		<thoughts>
			<thought>
				<implementation-class>org.botlibre.thought.consciousness.Consciousness</implementation-class>
				<property name="traversal-limit" value="500"/>
			</thought>
			<thought>
				<implementation-class>org.botlibre.thought.language.Language</implementation-class>
			</thought>
			<thought>
				<implementation-class>org.botlibre.thought.language.Comprehension</implementation-class>
			</thought>
			<thought>
				<implementation-class>org.botlibre.thought.discovery.Discovery</implementation-class>
			</thought>
			<thought>
				<implementation-class>org.botlibre.thought.forgetfulness.Forgetfulness</implementation-class>
			</thought>
		</thoughts>
	</mind>
	<mood>
		<implementation-class>org.botlibre.emotion.BasicMood</implementation-class>
		<emotions>
			<emotion>
				<implementation-class>org.botlibre.emotion.Love</implementation-class>
			</emotion>
			<emotion>
				<implementation-class>org.botlibre.emotion.Fear</implementation-class>
			</emotion>
			<emotion>
				<implementation-class>org.botlibre.emotion.Surprise</implementation-class>
			</emotion>
			<emotion>
				<implementation-class>org.botlibre.emotion.Happiness</implementation-class>
			</emotion>
			<emotion>
				<implementation-class>org.botlibre.emotion.Anger</implementation-class>
			</emotion>
			<emotion>
				<implementation-class>org.botlibre.emotion.Humor</implementation-class>
			</emotion>
		</emotions>
	</mood>
	<avatar>
		<implementation-class>org.botlibre.avatar.ImageAvatar</implementation-class>
	</avatar>
	<awareness>
		<implementation-class>org.botlibre.sense.BasicAwareness</implementation-class>
		<senses>
			<sense>
				<implementation-class>org.botlibre.sense.text.TextEntry</implementation-class>
			</sense>
			<sense>
				<implementation-class>org.botlibre.sense.context.Context</implementation-class>
			</sense>
			<sense>
				<implementation-class>org.botlibre.sense.http.Http</implementation-class>
			</sense>
			<sense>
				<implementation-class>org.botlibre.sense.http.Wiktionary</implementation-class>
			</sense>
			<sense>
				<implementation-class>org.botlibre.sense.wikidata.Wikidata</implementation-class>
			</sense>
			<sense>
				<implementation-class>org.botlibre.sense.service.RemoteService</implementation-class>
			</sense>
			<sense>
				<implementation-class>org.botlibre.sense.chat.Chat</implementation-class>
			</sense>
			<sense>
				<implementation-class>org.botlibre.sense.telegram.Telegram</implementation-class>
			</sense>
			<sense>
				<implementation-class>org.botlibre.sense.sms.Twilio</implementation-class>
			</sense>
			<sense>
				<implementation-class>org.botlibre.sense.slack.Slack</implementation-class>
			</sense>
			<sense>
				<implementation-class>org.botlibre.sense.google.GoogleCalendar</implementation-class>
			</sense>
		</senses>
		<tools>
			<tool>
				<implementation-class>org.botlibre.tool.Calculator</implementation-class>
			</tool>
			<tool>
				<implementation-class>org.botlibre.tool.Math</implementation-class>
			</tool>
			<tool>
				<implementation-class>org.botlibre.tool.Watch</implementation-class>
			</tool>
			<tool>
				<implementation-class>org.botlibre.tool.Date</implementation-class>
			</tool>
			<tool>
				<implementation-class>org.botlibre.tool.Utils</implementation-class>
			</tool>
			<tool>
				<implementation-class>org.botlibre.tool.JSON</implementation-class>
			</tool>
		</tools>
	</awareness>
</bot>
