
#chatnow-bubble {
	background-image: url(../images/chatnow.png);	
    background-repeat: no-repeat;    
	background-size:200px 145px;
	width: 200px;
	height: 145px;
    border: 0px;
    outline: 0;
    background-color: transparent;
	margin: 0 0 0 0;
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:52;
	text-align:center;
}

#chatnow-link {
    color:white;
    font-size:20px;
    cursor: pointer;
	text-decoration: none;
}

#chatnow-close {
    color:#000;
    font-size:10px;
    cursor: pointer;
	text-decoration: none;
	float:right;
	margin:6px 12px 0px 0px;
}

