/* ================================
General
================================= */

body .mainpage {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	overflow-x: hidden;
}
.navbar1 {
	line-height: 1.6em;
}
footer, #bottom-widget {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	overflow-x: hidden;
}

.mainpage h1, #bottom-widget h1, footer h1 {
	font-size: 36px;
}
.mainpage h2, #bottom-widget h1, footer h2 {
	font-size: 32px;
}
.mainpage h3, #bottom-widget h3, footer h3 {
	font-size: 28px;
}
.mainpage h4, #bottom-widget h4, footer h4 {
	font-size: 24px;
}
.mainpage h5, #bottom-widget h5, footer h5 {
	font-size: 20px;
}
.mainpage h6, #bottom-widget h6, footer h6 {
	font-size: 18px;
}
#bottom-widget {
	padding: 50px 0px 50px 0px;
}

.mainpage h1, .mainpage h2, .mainpage h3,.mainpage h4,.mainpage h5,.mainpage h6,.mainpage .h1,.mainpage .h2,.mainpage .h3,.mainpage .h4,.mainpage .h5,.mainpage .h6 {
	color: #3a3a3a;
	font-weight: 700;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.1;
}
.mainpage p span {
	line-height: 1.1;
}
body {
	line-height: 1.2;
}
#bottom-widget h1, #bottom-widget h2, #bottom-widget h3,#bottom-widget h4,#bottom-widget h5,#bottom-widget h6,#bottom-widget .h1,#bottom-widget .h2,#bottom-widget .h3,#bottom-widget .h4,#bottom-widget .h5,#bottom-widget .h6 {
	color: #3a3a3a;
	font-weight: 700;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
}
footer h1, footer h2, footer h3,footer h4,footer h5,footer h6,footer .h1,footer .h2,footer .h3,footer .h4,footer .h5,footer .h6 {
	color: #3a3a3a;
	font-weight: 700;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
}

.mainpage img {
	max-width: none;
}

#mainbody *, .ui-autocomplete *, .full * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#mainbody table,  .ui-autocomplete table, .full table {
	border-spacing: 2px;
	border-collapse: initial;
}

#mainbody td, #mainbody th, .ui-autocomplete td, .ui-autocomplete th {
	padding: 1px;
}
.browse a, .section a, .about a, .full a {
	text-decoration: underline;
}

.mainpage, #bottom-widget, footer {
	text-align: center;
}

.lead {
	font-weight: 400;
}


/* ================================
margin, padding
================================= */
.mar-top0 {
	margin-top: 0;
}
.mar-top10 {
	margin-top: 10px;
}
.mar-top20 {
	margin-top: 20px;
}
.mar-top30 {
	margin-top: 30px;
}
.mar-top40 {
	margin-top: 40px;
}


/* ================================
 Navbar1 
================================= */

.navbar1 {
	text-align: center;
	background-color: #002438;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	height: 40px;
	padding: 8px 0;
	z-index: 999;
}

.navbar1 a {
	color: white;
}

.navbar1 a:hover{
	color: #4783a3;
}

.navbar1 img {
	height:18px;
	margin-top: -3px; 
	margin-right: 5px;
}

.main-link, .main-link2 {
	margin-right: 20px;
	float: right;
}

.main-link:hover, .main-link2:hover {
	text-decoration: none;
}
.main-link:hover img,.main-link2:hover img {
	opacity:0.5;
}
.dropbtn {
	color: white;
	padding: 16px;
	font-size: 15px;
	border: none;
	cursor: pointer;
	text-decoration: none;
	margin-left: -22px;
}

.dropdown {
	position: relative;
	display: inline-block;
	float: right;
}

.dropdown-content {
	top: 32px;
	right:0;
	display: none;
	position: absolute;
	background-color: rgba(0, 36, 56, 0.6);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 999;
}

.dropdown-content a, .dropdown-content1 a {
	color: white;
	padding: 6px 16px;
	text-decoration: none;
	display: block;
	font-size: 14px;
}

.dropdown-content a:hover, .dropdown-content1 a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content, .dropdown1:hover .dropdown-content1 {
	display: block;
}

.dropdown:hover .dropbtn, .dropdown1:hover .dropbtn1{
	text-decoration: none;
}

.dropdown1 {
	position: relative;
	display: inline-block;
	float: left;
	margin-left: -16px;
	padding-left: 16px;
}


.dropbtn1 {
	
	color: white;
	padding: 16px;
	font-size: 15px;
	border: none;
	cursor: pointer;
	text-decoration: none;
	margin-right: 22px;
}

.dropdown-content1 {
	top: 32px;
	left:16px;
	display: none;
	position: absolute;
	background-color: rgba(0, 36, 56, 0.6);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 999;
}


/* ================================
 NAV1
================================= */

.nav1 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: #fff;
}

.nav1 a {
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}
 
.nav1 .items {
	margin: 0 auto;
	padding: 5px 0;
}

.nav1 li {
	list-style: none;
	display: inline-block;
	
	margin-right: 10px;
}

.nav1 li a {
	text-decoration: none;
	color:#00424e;
	font-size: 13px;
}

.nav1 li a:hover {
	color:#64a6b2;
}

.nav1 li a:hover img {
	opacity: 0.5;
}

.nav1 .items img {
	/*border: 1px solid #002438;
	padding: 3px;
	border-radius: 100px;*/
	width: 40px;
}

@media(max-width: 1200px) {
	.items span {
		display: none;
	}
	.nav1 .items img {
		margin-right: 15px;
	}
}

@media(max-width: 700px) {
	.nav1 .items img {
		width: 32px;
		margin-right: 8px;
	}
}

@media(max-width: 600px) {
	.nav1 .items img {
		width: 32px;
		margin-right: 6px;
	}
	.nav1 li {
		margin-right: 0px;
	}
}

@media(max-width: 500px) {
	.nav1 .items img {
		width: 28px;
		margin-right: 2px;
	}
}

@media(max-width: 300px) {
	.nav1 .items img {
		width: 24px;
		margin-right: 2px;
	}
}

@media(max-width: 999px) {
	.dropdown-content, .dropdown-content1 {
		background-color: rgba(0, 36, 56, 0.9);
	}
}

@media (max-width: 440px) {
	.main-link2 {
		 display: none;
	}
}

@media (max-width: 670px) {
	.main-link {
		 display: none;
	}
}

@media (max-width: 930px) {
	.main-link span {
		display: none;
	}
	.main-link2 span {
		display: none;
	}
}


/* ================================
Home sections
================================= */

.home-section {
	width: 100%;
	padding: 150px 0px 150px 0px;
}

/* --- heading --- */
.section-heading {
	margin-bottom: 50px;
}

.section-heading h2 {
	font-size: 38px;
	text-transform: uppercase;
}

.section-heading .heading-line {
	margin:0 auto;
	display: block;
	height: 1px;
	width: 80px;
	background: #333;
	margin-top: 10px;
	margin-bottom: 20px;
}


/* --- section bg var --- */

.bg-white {
	background: #fff;
}

.bg-gray {
	background: #f8f8f8;
}

.bg-dark {
	background: #575757;
}


/* --- section content general color --- */

.color-light h1,.color-light h2,.color-light h3,.color-light h4,.color-light h5,.color-light h6 {
	color: #fff;
}


.color-light p {
	color: #eee;
}




/* ================================
Intro
================================= */

#intro {
	position: relative;
	margin: 0 auto;
	width: 100%;
	overflow-x: hidden;
	height:100vh;
	z-index:2;
	background-size:cover;

}

#intro .text-intro {
	color: #dedede;
	text-transform: uppercase;
	/*margin-top: -200px;*/
	letter-spacing: 4px;
	font-weight: 600;
}


.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to right bottom, rgba(29, 141, 204, 0.4), rgba(0, 36, 56, 0.6));
}

.intro-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index:999;
}

.intro-text h1 {
	color:#fff;
	text-align:center;
	font-weight: 700;
	font-size: 40px;
	line-height:1.1em;
	padding-top:30px;
	text-transform: uppercase;

}

.line-spacer {
	width: 20%;
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 25px;
	border-bottom:1px solid #fff;
}

.intro-text p span {
	color:#fff;
	font-size: 24px;
	text-align:center;
	font-weight: 300;
}



@media(max-width:991px) {
	#intro .text-intro {
		/*display: block;*/
		/**margin-top: -155px;*/
		/*margin-bottom: 140px;*/
		font-size: 12px;
	}
}


/* ================================
BUTTONS
================================= */

#intro .btn {
	color: #fff;
	font-size: 12px;
	margin-right: 8px;
	transition: all .3s;
}

#intro .btn:hover {
	background-color: rgba(255, 255, 255, 0.7);
	color: #196b98;
	padding: 5px 10px;
	box-shadow: 0 5px 5px rgba(0,0,0,.1);
}

@media (max-width: 499px) {
	#intro .btn {
		margin-right: -5px;
		/*font-size: 10px;*/
	}
}

@media (max-width: 360px) {
	#intro .btn {
		margin-right: -5px;
		/*font-size: 9px;*/
		font-weight: normal;
	}
}


/* ================================
Experiences
================================= */

#experience {
	padding-bottom: 220px; 
}


#experience .experience-img {
	height: 350px;
	overflow: hidden;
}

#experience .experience-img img {
	margin-left: -15px;
	max-width: 100%;
	max-height: 100%;
}

@media (max-width: 768px) {
	#experience .experience-img {
	height: auto;
	}
	#experience .experience-img img {
	margin-left: 0;
	padding-bottom: 30px;
	}
}

#experience .content h2 {
	color: #333;
	font-weight: 300;
	font-size: 24px;
	text-align: left;
}

#experience .content h3 {
	color: #777;
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
	font-style: italic;
	text-align: left;
}

#experience .content p {
	line-height: 26px;
	text-align: left;
}

#experience .content p:last-child {
	margin-bottom: 0;
}




/* ================================
VIDEO PLAY
================================= */

#video-play {
	position: relative;
	min-height: 300px;
	background: url(../background/media.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: 0 -300px;
	text-align: center;
	color: white;
	padding: 50px 0;
}

#video-play .dark-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to right bottom, rgba(68, 94, 106, 0.8), rgba(68, 94, 106, 0.9));
	height: 100%;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
}

#video-play a {
	display: inline-block;
	margin-top: 90px;
	color:#fff;
	font-size: 60px;
}

#video-play h3 {
	color: #fff;
}



/* ================================
CARDS
================================= */

#card {
	padding-bottom: 80px; 
}

#card .row {
	box-shadow: 0 5px 5px rgba(0,0,0,.2);
	margin-bottom: 90px; 
	background-color: #fff;
}


#card .card-img {
	height: 350px;
	overflow: hidden;
	margin-top: 40px;
}

#card .card-img img {
	margin-left: -15px;
	max-width: 100%;
	max-height: 300px;
}


#card .content h2 {
	color: #333;
	font-weight: 300;
	font-size: 24px;
	text-align: left;
}

#card .content {
	margin-top: 20px;
}

#card .content h3 {
	color: #777;
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
	font-style: italic;
	text-align: left;
}

#card .content p {
	line-height: 26px;
	text-align: left;
}

#card .content p:last-child {
	margin-bottom: 0;
}

#card .button {
	font-size: 16px;
	margin-left: -390px; 
	text-decoration: none;
	padding: 6px 15px;
	background-color: deepskyblue;
	color:#fff;
}

#card .btn-app {
	margin-left: -390px;
}

#card a.button:hover {
	box-shadow: 0 5px 5px rgba(0,0,0,.2);
}

@media (max-width: 768px) {
	#card .card-img img {
		height: 240px;
	}
}

@media (max-width: 768px) {
	#card .card-img {
		height: auto;
	}
	#card .card-img img {
		margin-left: 0;
		padding-bottom: 30px;
	}
}


@media (max-width:1200px){
	#card .button {
		margin-left: -250px;
	}
	#card .btn-app {
		margin-left: -250px;
	}
}

@media (max-width:991px){
	#card .row {
		margin: 40px auto;
	}
	#card .button {
		margin-left: 0px;
	}
	#card .btn-app {
		margin-left: 0px;
	}
	
	#card .content h2{
		text-align: center;
	}
	
	#card .content h3{
		text-align: center;
	}
	
	#card .content p{
		text-align: center;
	}
}



/* ==========================
Parallax images
============================= */

#parallax1{
	background-image: url(../img/parallax/1.jpg);
}


/* ================================
COMMUNITY
================================= */

#parallax1 a:link,
#parallax1 a:visited{
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 9px 30px;
	display: inline-block;
	border-radius: 100px;
	color: #002438;
	transition: all .2s;
	position: relative; 
}


#parallax1 a:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0,0,0.2);
}


#parallax1 a:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0,0,0,.2);
}


#parallax1 a::after {
	
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top:0;
	left: 0;
	background-color: #fff;
	z-index: -1;
	transition: all .4s;
}



#parallax1 a:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}




/* ================================
Bottom widget
================================= */
#bottom-widget {
	overflow: hidden;
}

#bottom-widget a {
	text-decoration: none;
	color:#002438;
	display: inline-block;
	margin-bottom: 9px;
}



#bottom-widget .fa-4x {
	color: #005c90;
}


ul.social-network {
	margin: 0;
	margin-left:0;
	padding-left: 0;
	list-style: none;
}
ul.social-network li {
	display: inline;
	margin: 5px 5px;
}


ul.social-network li a:hover span .fa-circle {
	color: #2b2b2b;
}

ul.social-network li a i{
	transition: 0.3s
}


/* ================================
Footer
================================= */
footer, footer p {
	background: #002438;
	color: #fff;
	padding: 60px 0;
	
}
footer p {
	margin-top: 30px;
}

footer a, footer p a {
	color: #fff;
	margin-right: 30px;
	/*font-size: 12px;*/
	
}

footer a:focus, footer p a:focus {
	color: #fff;
}


footer a:hover {
	color: deepskyblue;
	text-decoration: underline;
}

@media(max-width:485px){
	footer a, footer p a {
		/*font-size:9px;*/
		margin-right: 15px;
	}
}

/* ================================
more media queries
================================= */

@media (max-width:768px) {

	header {
		padding-bottom: 50px;
		min-height: 1000px;
		height: 100%;
	}

	.navbar-nav {
		
		text-align: left;
		float: left;
	}

}
