
.old-btn {
	
	display: block;
	margin: auto;
}

/* Ensure font size to prevent zoom on iPhone. */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

/*------------------------------ HEADER ------------------------------*/

#header > div, #footer > div, #topper > div, #admin-topper > div {
	width: 98%;
	margin: 0 auto;
	//padding: 0 2px;
}

/** Navigation **/
#navigation {
	line-height: 50px;
}

#navigation li {
	width: 78px;
}

#navigation a {
	line-height: 50px;
}

#navigation2 {
	padding-left:8px;
	padding-right:8px;
}

#navigation3 {
	padding-left:8px;
	padding-right:8px;
}

#mainbody {
	background-color: #fff;
	width:100%;
}

#titlebox {
	background-color: #fff;
	min-height: 452px;
	width: 92%;
	padding: 24px 0;
}

#titlebox > div {
	width: 98%;
}

/*------------------------------ SLIDES ------------------------------*/

#slideshow { 
	width: 312px;
	margin: auto;
    padding-right: 18px;
}

#titleboxright {
	width: 98%;
	min-height: 365px;
	//margin-left: 2px;
}

#slide {
	width: 310px;
	min-height: 300px;
}

#slidebar {
	width: 98%;
	padding: 40px 0;
}

#barslide {
	width: 310px;
	height: 260px;	
}

#slide h3, #barslide h3 {	
	font-size: 20px;
	line-height: 22px;
	margin: 4px;
}

#slide p, #barslide p {
	line-height: 22px;
	font-weight: normal;
	padding: 8px 8px 8px 8px;
}

.slide-pl {
	text-align:left;
	padding: 12px 12px 12px 12px;
}

#nav-left {
	left:10px;
}

#titlebox h1, #titlebox h2 {	
	font-size: 38px;
	line-height: 42px;	
}

#titlebox h2 {
	font-size: 26px;
	line-height: 30px;
}

#titlebox p span {	
	padding: 12px 24px;	
}

#business {
	font-size:20px;
}

.editor {
	width:98%;height:500px;max-width:none;
}

.embed-editor {
	position:fixed;top:18px;bottom:94px;left:4px;right:8px;
}

.feature {
	width:300px;
}

.upgrade {
	width:300px;
}

.browse-list-div {	
	width:300px;
}

.online-user-label {
	max-width:100px;
}


/*------------------------------ HOVER ------------------------------*/

span.dropt-banner div {
	/*display:none; makes the transition not work... */
	max-width: 88%;
	white-space: normal;
	transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

span.dropt-banner:hover div {
	transition-delay:0.5s;
}

#title {
	width:98%;
}

#program {
	width: 98%;
	height: 450px;
	margin: 0 0 0 2px;
}


/*------------------------------ CONTENTS ------------------------------*/
#contents {
	background-color: #fff;
	min-height: 492px;
	width: 96%;
	overflow:auto;
	padding: 8px 4px 4px 4px;
}

img {
	max-width:100%; 
} 

#contents-full {
	
	min-height: 492px;
	width: 96%;
	overflow:auto;
	margin: 0 auto;
	padding: 8px 4px 4px 4px;
}

#contents2 {
	min-height: 492px;
	width: 96%;
	overflow:auto;
	margin: 0 auto;
	padding: 4px 40px;
}

#contents .browse {
	width: 98%;
	margin: 0 auto;
}

.browse select {
	font-size: 16px;	
}

#browse-type {
	max-width: 120px;
	width: 120px;
}

/** main **/
.main {
	width: 200px;	
}

#about {
	/*background-color: #fff;*/
	width: 98%;  
	margin: 0 auto;
}

#about2 {
	width: 98%;
	margin: 4px 4px;
}

.section {
	width: 98%;
	margin-right: 4px;
}

.message input[type='text'] {
	font-size: 16px;
	height: 32px;
	width: 96%;
}

.message input[type='email'] {
	width: 96%;
}

.message input[type='number'] {
	font-size: 16px;
	height: 32px;
	width: 96%;
}

.message select {
	font-size: 16px;
}

.message input[type='password'] {
	font-size: 16px;
	height: 32px;
	width: 96%;
}

.message input[type='date'] {
	font-size: 16px;
	height: 32px;
	width: 96%;
}

.message textarea {
	font-size: 16px;
	width: 97%;
}

.message input[type='file'] {
	font: 16px/32px Arial, Helvetica, sans-serif;
}

.search input[type='text'] {
	font-size: 16px;
}

.search select {
	font-size: 16px;
	height: 30px;
}

select.users {
	font-size: 16px;
	width:270px;
}

input[type='text'].users {
	width:270px;
}

input[type='text'].search {
	font-size: 16px;
}
select.search {
	font-size: 16px;
	height: 30px;
}

.contact {	
	width: 250px;
}

#admin-topper {
	margin-left: 4px;
	margin-right: 4px;
}

/*------------------------------ CHAT ------------------------------*/

span.chat-user, span.botplatformframechat-user {
    max-width:120px;
    overflow:hidden;
}

td.chat-user, td.botplatformframechat-user {
    max-width:100px; 
}

.response, .botplatformframeresponse {
	max-height:50px;
	margin:2px;
}

/*------------------------------ Avatars ------------------------------*/
.avatar, .botplatformframeavatar {
	max-height:500px;
	width:200px;
	max-width: none; /** 100% give 0 width for some reason */
}

.avatar-big {
	max-height:500px;
	width:300px;
	max-width: none; /** 100% give 0 width for some reason */
}

.avatar2, .botplatformframeavatar2 {
	width:300px;
	max-width: none; /** 100% give 0 width for some reason */
}

.avatar-video-div, .botplatformframeavatar-video-div {
	min-height:200px;
	min-width:200px;
	background-size:200px auto;
}

.avatar-video-div-big {
	min-height:300px;
	min-width:300px;
	background-size:300px auto;
}

.avatar-video, .botplatformframeavatar-video {
	width:200px;
}

.avatar-video-big {
	max-height:500px;
	width:300px;
}

.avatar-canvas-div-big {
	min-height:300px;
	min-width:300px;
}

.avatar-canvas-big {
	max-width:300px;
	height:300px;
}

/*------------------------------ ACE ------------------------------*/
.ace_absolute {  
	height: 210px; 
	/* width: 330px;  */ 
}

.ace_relative {
	height: 220px; 
	width: 95%;
	/* width: 335px; */ 
}

/*------------------------------ FORUM ------------------------------*/

.forum-article {
	min-width:260px;
}

/*------------------------------ MESSAGE ------------------------------*/

.message-message {
	min-width:260px;
}

/*------------------------------ ISSUE ------------------------------*/

.issue-article {
	min-width:260px;
}

.ui-dialog {
    min-width:310px;
}

/*------------------------------ TABLE / TextArea ------------------------------*/
textarea.api{
	width: 80%;
	height: 120px;
}

/*------------------------------ FOOTER ------------------------------*/

#footer p {
	line-height: 16px;
}

/** Browse **/
img.category-thumb {
	max-height:68px;max-width:70px;cursor:pointer;
}

div.category-thumb {
	max-width:70px;
}

td.category-thumb {
	height:70px;width:70px;
}

img.menubar {
	width:24px;
	height:24px;
}

.big-icon {
	width:200px;
}
.small-icon {
	width:64px;
}

